@use "sass:map";

//   Dash
//   A simple, lite-weight and powerful CSS framework
//   version: 0.5.0

// ------ Prefix and postfix ------
$-prefix: "-";

// ------ Color variables ------
$-blue: #1681df;
$-aqua: #50cdff;
$-cyan: #28e9e9;
$-teal: #18af98;
$-green: #2abb3b;
$-lime: #44df07;
$-olive: #b5d115;
$-yellow: #ffe851;
$-orange: #fd9c46;
$-brown: #da421d;
$-red: #ff4d4d;
$-pink: #fc598f;
$-fuchsia: #e61db7;
$-purple: #b10dc9;
$-maroon: #85144b;
$-black: #222;
$-gray: #888;
$-white: #ddd;

// ------ Brightness factors ------
$-brightness_factor-1: 10;
$-brightness_factor-2: 20;

// ------ Gradient colors ------
$-gradient-colors: (
  "aqua": $-aqua,
  "lime": $-lime,
  "yellow": $-yellow,
  "orange": $-orange,
  "pink": $-pink,
);

// ------ Colors ------
// The `$-colors-map` variable will fill based on `$-colors` variable.
$-colors: (
  "blue": $-blue,
  "aqua": $-aqua,
  "cyan": $-cyan,
  "teal": $-teal,
  "green": $-green,
  "lime": $-lime,
  "olive": $-olive,
  "yellow": $-yellow,
  "orange": $-orange,
  "brown": $-brown,
  "red": $-red,
  "pink": $-pink,
  "fuchsia": $-fuchsia,
  "purple": $-purple,
  "maroon": $-maroon,
  "black": $-black,
  "gray": $-gray,
  "white": $-white,
);

// Color Naming Example
//
// $-colors: (
//   "default": $-white,
//   "primary": $-blue,
//   "secondary": $-pink,
//   "secondary2": $-fuchsia,
//   "secondary3": $-purple,
//   "accent": $-olive,
//   "accent2": $-teal,
//   "success": $-green,
//   "success2": $-lime,
//   "info": $-aqua,
//   "info2": $-cyan,
//   "warning": $-orange,
//   "warning2": $-yellow,
//   "error": $-red,
//   "error2": $-brown,
//   "error3": $-maroon,
//   "neutral": $-gray,
//   "neutral2": $-black,
// );

// ------ Flexbox variables -----
$-grid-columns-count: 12;
$-flex-scales: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
$-orders: (
  zero: 0,
  1-front: 1,
  2-front: 2,
  3-front: 3,
  4-front: 4,
  5-front: 5,
  6-front: 6,
  7-front: 7,
  8-front: 8,
  9-front: 9,
  10-front: 10,
  11-front: 11,
  12-front: 12,
  1-back: -1,
  2-back: -2,
  3-back: -3,
  4-back: -4,
  5-back: -5,
  6-back: -6,
  7-back: -7,
  8-back: -8,
  9-back: -9,
  10-back: -10,
  11-back: -11,
  12-back: -12,
);

// ------ Other variables ------
$-z-indices: (
  zero: 0,
  1-front: 10,
  2-front: 200,
  3-front: 3000,
  4-front: 40000,
  5-front: 500000,
  1-back: -10,
  2-back: -200,
  3-back: -3000,
  4-back: -40000,
  5-back: -500000,
);
$-font-sizes: (
  zero: 0,
  1: 9,
  2: 11,
  3: 14,
  4: 16,
  5: 24,
  6: 32,
  7: 48,
  8: 64,
  9: 90,
  10: 128,
);
$-font-heights: (
  zero: 0,
  1: 11,
  2: 14,
  3: 16,
  4: 21,
  5: 30,
  6: 38,
  7: 55,
  8: 72,
  9: 100,
  10: 140,
);
$-small-sizes: (
  zero: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 5px,
  5: 7px,
  6: 10px,
  7: 15px,
  8: 20px,
  9: 25px,
  10: 35px,
);
$-small-sizes2: (
  auto: auto,
  zero: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 5px,
  5: 7px,
  6: 10px,
  7: 15px,
  8: 20px,
  9: 25px,
  10: 35px,
);
$-sizes: (
  zero: 0,
  1px: 1,
  1: 1,
  2px: 2,
  3px: 3,
  2: 3,
  5px: 5,
  3: 5,
  7px: 7,
  10px: 10,
  4: 10,
  15px: 15,
  20px: 20,
  25px: 25,
  5: 25,
  30px: 30,
  35px: 35,
  40px: 40,
  45px: 45,
  50px: 50,
  6: 50,
  60px: 60,
  70px: 70,
  80px: 80,
  90px: 90,
  100px: 100,
  7: 100,
  120px: 120,
  140px: 140,
  160px: 160,
  180px: 180,
  200px: 200,
  8: 200,
  250px: 250,
  300px: 300,
  9: 300,
  350px: 350,
  400px: 400,
  10: 400,
  450px: 450,
  500px: 500,
  xs: 576,
  sm: 768,
  md: 992,
  lg: 1200,
  xl: 1400,
  xxl: 1600,
);
$-opacity-levels: (
  transparent: 0,
  5pc: 0.05,
  10pc: 0.1,
  15pc: 0.15,
  25pc: 0.25,
  35pc: 0.35,
  50pc: 0.5,
  65pc: 0.65,
  75pc: 0.75,
  85pc: 0.85,
  90pc: 0.9,
  95pc: 0.95,
  full: 1,
);
$-rotate-degrees: (
  zero: rotate(0deg),
  30deg: rotate(30deg),
  45deg: rotate(45deg),
  60deg: rotate(60deg),
  90deg: rotate(90deg),
  120deg: rotate(120deg),
  135deg: rotate(135deg),
  150deg: rotate(150deg),
  180deg: rotate(180deg),
  ccw-30deg: rotate(-30deg),
  ccw-45deg: rotate(-45deg),
  ccw-60deg: rotate(-60deg),
  ccw-90deg: rotate(-90deg),
  ccw-120deg: rotate(-120deg),
  ccw-135deg: rotate(-135deg),
  ccw-150deg: rotate(-150deg),
  ccw-180deg: rotate(-180deg),
);
$-anim-underline-height: 5;
$-anim-underline-color: $-blue;
$-anim-underline-time: 0.2;
$-anim-spin-times: (
  1: "spin 0.3 infinite linear",
  2: "spin 0.5 infinite linear",
  3: "spin 0.7 infinite linear",
  4: "spin 1.2 infinite linear",
  5: "spin 1.8 infinite linear",
  6: "spin 2.5 infinite linear",
  7: "spin 4 infinite linear",
  8: "spin 8 infinite linear",
  9: "spin 16 infinite linear",
  10: "spin 32 infinite linear",
);
$-times: (
  1: 0.3s,
  2: 0.5s,
  3: 0.7s,
  4: 1.2s,
  5: 1.8s,
  6: 2.5s,
  7: 4s,
  8: 8s,
  9: 16s,
  10: 32s,
);
$-times2: (
  1: 0.3s,
  2: 0.5s,
  3: 0.7s,
  4: 1.2s,
  5: 1.8s,
  6: 2.5s,
  7: 4s,
  8: 8s,
  9: 16s,
  10: 32s,
);
$-shadows: (
  1: 0 0 1px 0 rgba(0, 0, 0, 0.2),
  2: 0px 0px 2px 1px rgba(0, 0, 0, 0.2),
  3: 0px 0px 3px 2px rgba(0, 0, 0, 0.2),
  4: 0px 0px 4px 3px rgba(0, 0, 0, 0.2),
  5: 0px 0px 5px 4px rgba(0, 0, 0, 0.2),
  6: 0px 0px 6px 5px rgba(0, 0, 0, 0.2),
);
$-shadows-rt: (
  1: 1px -1px 1px 0px rgba(0, 0, 0, 0.2),
  2: 1px -1px 2px 1px rgba(0, 0, 0, 0.2),
  3: 1px -1px 3px 2px rgba(0, 0, 0, 0.2),
  4: 1px -1px 4px 3px rgba(0, 0, 0, 0.2),
  5: 1px -1px 5px 4px rgba(0, 0, 0, 0.2),
  6: 1px -1px 6px 5px rgba(0, 0, 0, 0.2),
);
$-shadows-lt: (
  1: -1px -1px 1px 0px rgba(0, 0, 0, 0.2),
  2: -1px -1px 2px 1px rgba(0, 0, 0, 0.2),
  3: -1px -1px 3px 2px rgba(0, 0, 0, 0.2),
  4: -1px -1px 4px 3px rgba(0, 0, 0, 0.2),
  5: -1px -1px 5px 4px rgba(0, 0, 0, 0.2),
  6: -1px -1px 6px 5px rgba(0, 0, 0, 0.2),
);
$-shadows-rb: (
  1: 1px 1px 1px 0px rgba(0, 0, 0, 0.2),
  2: 1px 1px 2px 1px rgba(0, 0, 0, 0.2),
  3: 1px 1px 3px 2px rgba(0, 0, 0, 0.2),
  4: 1px 1px 4px 3px rgba(0, 0, 0, 0.2),
  5: 1px 1px 5px 4px rgba(0, 0, 0, 0.2),
  6: 1px 1px 6px 5px rgba(0, 0, 0, 0.2),
);
$-shadows-lb: (
  1: -1px 1px 1px 0px rgba(0, 0, 0, 0.2),
  2: -1px 1px 2px 1px rgba(0, 0, 0, 0.2),
  3: -1px 1px 3px 2px rgba(0, 0, 0, 0.2),
  4: -1px 1px 4px 3px rgba(0, 0, 0, 0.2),
  5: -1px 1px 5px 4px rgba(0, 0, 0, 0.2),
  6: -1px 1px 6px 5px rgba(0, 0, 0, 0.2),
);
$-text-shadows: (
  1: 0 1px 1px rgba(0, 0, 0, 0.2),
  2: 0 2px 1px rgba(0, 0, 0, 0.2),
  3: 0 3px 2px rgba(0, 0, 0, 0.2),
  4: 0 4px 2px rgba(0, 0, 0, 0.2),
  5: 0 5px 3px rgba(0, 0, 0, 0.2),
  6: 0 6px 4px rgba(0, 0, 0, 0.2),
);
$-scales: (
  1: scale(1.1),
  2: scale(2.2),
  3: scale(1.3),
  4: scale(1.5),
  5: scale(1.7),
);
$-float-heights: (
  1: translateY(-2px),
  2: translateY(-3px),
  3: translateY(-5px),
  4: translateY(-7px),
  5: translateY(-10px),
);
$-skew-degrees: (
  1: skew(5deg),
  2: skew(10deg),
  3: skew(20deg),
  4: skew(35deg),
  5: skew(45deg),
);
$-skew-degrees-ccw: (
  1: skew(-5deg),
  2: skew(-10deg),
  3: skew(-20deg),
  4: skew(-35deg),
  5: skew(-45deg),
);
